#formHeading {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.panel-default {
    background-color: #F7F7F7;
}

.col-form-label {
    font-weight: normal;
}

img.placeIcon {
    width: 40px;
}

.fav, .fa-chevron-right {
    background-color: white;
    border: solid .08em #eee;
    border-radius: .1em;
    margin: .25em .25em .25em;
}

#detailsContent {
    display: none;
}

.rating {
    color: orange;
}

.authorName {
    font-weight: bold;
}

.authorPic {
    height: 50px;
    width: 50px
}

#mapContainer {
    height: 300px;
}

#gMapImg {
    display: none;
}

.streetViewIcon {
    height: 30px;
    width: 30px;
    border: solid .08em #eee;
    border-radius: .1em;
    margin: .25em .25em .25em;
}